* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.response{
    margin: 20px 0;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    word-wrap: break-word;
    /*word-break: break-word;*/
    /*word-break: break-all;*/
    overflow-x: auto;
}

